.highlight {
    background-color: #f83747; /* Red color for highlighting */
    transition: background-color 0.5s ease; /* Smooth transition */
  }
  
  .table-container {
    overflow-x: auto; /* To handle large tables */
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  th {
    background-color: #f4f4f4;
  }

  .highlight2 {
    background-color: yellow; /* Highlight color */
    transition: background-color 0.5s ease; /* Smooth transition */
  }
  
  .dehighlight {
    background-color: white; /* Default color */
    transition: background-color 0.5s ease; /* Smooth transition */
  }